# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and outputs
*.log
*.out

# PyTorch or model checkpoints
*.pt
*.pth

# Data files
*.tsv
*.zip
*.gz


# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.swp
*.bak
